@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
  background-color: #393e46;
  text-align: center;
}

body,
button {
  font-family: Exo, Arial, Helvetica, sans-serif;
  color: #f8f5f1;
}

.clear {
  clear: both;
}

button {
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #373832;
  color: white;
  border: 1px solid black;
  cursor: pointer;

  /* Disable Select */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

button:hover {
  background-color: #504f4f;
}

button:active {
  background-color: #373832;
  color: white;
  border: 1px solid black;
}

.hidden {
  display: none;
}

canvas {
  cursor: pointer;
}
